<footer class="bottom-0 text-left w-full py-24">
    <div class="max-w-5xl mx-12 lg:mx-auto space-y-10">
        <div class="space-y-1">
            <span class="text-text font-bold mb-2 uppercase text-sm">Subscribe to our newsletter</span>
            <div class="max-w-xl">
                <iframe src="https://embeds.beehiiv.com/88e94e2d-a0b8-434a-8258-58bfb9ae99df?slim=true"
                    data-test-id="beehiiv-embed" height="52" frameborder="0" scrolling="no" width="100%"
                    style="margin: 0; border-radius: 0px !important; background-color: transparent;"></iframe>
            </div>
        </div>


        <div class="text-base lg:text-lg">
            <div>
                <img src="/static/img/mail.svg" alt="Email" class="inline-block w-8 mr-2">
                <a href="mailto:{{settings.email}}" class="">{{settings.email}}</a>
            </div>

            <div>
                <img src="/static/img/instagram.svg" alt="Instagram" class="inline-block w-8 mr-2">
                <a href="https://instagram.com/{{settings.instagram}}" target="_blank"
                    class="">@{{settings.instagram}}</a>
            </div>
        </div>

        <div class="text-text text-sm">Copyright ©
            {{settings.name}}
            {{ page.date.getFullYear() }}. All rights reserved.
        </div>
    </div>
</footer>
