<footer class="bottom-0 text-left w-full py-24">
    <div class="max-w-5xl mx-12 lg:mx-auto space-y-10">
        <div>
            <form class="w-full" method="POST"
                action="https://script.google.com/macros/s/AKfycbxJNTWzArl5wTd2qUYg2-MPxoOPL87CkIpVmEj1qcv39o2-l9QQlh3VwCoB9WLLb7uQ3Q/exec">
                <span class="text-text font-bold mb-2 uppercase text-sm">Subscribe to our newsletter</span>
                <div class="md:w-1/2 flex space-x-4">
                    <input type="email" name="Email" id="email" placeholder="Email"
                        class="border-text border-2 rounded p-2 flex-grow w-5" required>
                    <button type="submit"
                        class="bg-text uppercase font-medium text-light text-sm py-3 px-8 hover:cursor-pointer tracking-widest">OK</button>
                    <label for="email" class="sr-only">Email</label>
                </div>
            </form>

        </div>


        <div class="text-base lg:text-lg">
            <div>
                <img src="/static/img/mail.svg" alt="Email" class="inline-block w-8 mr-2">
                <a href="mailto:{{settings.email}}" class="">{{settings.email}}</a>
            </div>

            <div>
                <img src="/static/img/instagram.svg" alt="Instagram" class="inline-block w-8 mr-2">
                <a href="https://instagram.com/{{settings.instagram}}" target="_blank"
                    class="">@{{settings.instagram}}</a>
            </div>
        </div>

        <div class="text-text text-sm">Copyright ©
            {{settings.name}}
            {{ page.date.getFullYear() }}. All rights reserved.
        </div>
    </div>
</footer>
